@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

html {
  font-family: 'Nunito', sans-serif;
  color: #FBFBFB;
  background-color: #111111;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-active {
  margin-right: 0%;
  transition: margin-right 300ms ease-in-out;
}

.navbar-inactive {
  margin-right: -100%;
  transition: margin-right 300ms ease-in-out;
}

.fade-in {
  opacity: 0.5;
  transition: opacity 300ms ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
